In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("PIKemissionnew.csv")

In [3]:
df.drop(columns=['country','Source','sector'], inplace=True)

In [4]:
df.head()

,gas,1850,1851,1852,1853,1854,1855,1856,1857,1858,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,CH4,0.000199,0.000196,0.000195,0.000197,0.000199,0.000201,0.000209,0.000217,0.000226,...,0.029000,0.028250,0.027250,0.026250,0.025250,0.024675,0.023925,0.022875,0.022325,0.02195
1,CO2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.862000,0.873000,0.899000,0.884000,0.917000,0.940000,0.961000,0.878000,0.869000,0.88500
2,KYOTOGHG,0.000207,0.000204,0.000203,0.000206,0.000208,0.000210,0.000218,0.000227,0.000235,...,0.903000,0.915000,0.939000,0.925000,0.956000,0.978000,0.998000,0.912000,0.904000,0.92100
3,N2O,0.000008,0.000008,0.000009,0.000009,0.000009,0.000009,0.000009,0.000009,0.000009,...,0.012605,0.013499,0.013261,0.014721,0.013291,0.013082,0.013470,0.011175,0.012427,0.01344
4,CO2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006260,0.006340,0.006490,0.006340,0.006290,0.006220,0.006350,0.006350,0.006350,0.00703

In [5]:
df['gas'].unique()

array(['CH4', 'CO2', 'KYOTOGHG', 'N2O', 'F-Gas'], dtype=object)

In [6]:
df['gas']=df['gas'].map({'CH4':0,'CO2':1,'KYOTOGHG':2,'N2O':3,'F-Gas':4})
# df['gas'] = df['gas'].astype(float)

In [7]:
df.head(2)

,gas,1850,1851,1852,1853,1854,1855,1856,1857,1858,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0,0.000199,0.000196,0.000195,0.000197,0.000199,0.000201,0.000209,0.000217,0.000226,...,0.029,0.02825,0.02725,0.02625,0.02525,0.024675,0.023925,0.022875,0.022325,0.02195
1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.862,0.87300,0.89900,0.88400,0.91700,0.940000,0.961000,0.878000,0.869000,0.88500

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler=StandardScaler()

In [10]:
X=df.drop(columns=['gas'])
y=df[['gas']]

In [11]:
X_scaler=scaler.fit_transform(X)

In [12]:
y_scaler=scaler.fit_transform(y)
y_scaler

array([[-1.43158836],
       [-0.62059652],
       [ 0.19039532],
       ...,
       [-0.62059652],
       [ 0.19039532],
       [ 1.00138717]])

In [13]:


from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X_scaler,y_scaler)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
linear_model = LogisticRegression()
linear_model.fit(X_train, y_train)
linear_predictions = linear_model.predict(X_test)
linear_accuracy = linear_model.score(X_test, y_test)

In [16]:
linear_accuracy*100

-136.21692770283494

In [17]:
from sklearn.ensemble import GradientBoostingRegressor
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from geneticalgorithm import geneticalgorithm as ga

In [18]:
#pip install geneticalgorithm

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X_scaler,y_scaler)
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, y_train)
gb_predictions = gb_model.predict(X_test)
gb_accuracy = gb_model.score(X_test, y_test)

C:\Users\gkvte\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
gb_accuracy*100

31.860138052672394

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv("PIKemissionnew.csv")
df.drop(columns=['country','Source','sector'], inplace=True)
df['gas']=df['gas'].map({'CH4':0,'CO2':1,'KYOTOGHG':2,'N2O':3,'F-Gas':4})
rows = df.shape[0]  # gives number of row count
cols = df.shape[1]  # gives number of col count
features = cols - 1
print(features)
X = df.values[:, 0:features] 
Y = df.values[:, features]
print(Y)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
    
     
print("Dataset Length : "+str(len(X)))
print("Splitted Training Length : "+str(len(X_train)))
print("Splitted Test Length : "+str(len(X_test)))

173
[2.1950e-02 8.8500e-01 9.2100e-01 ... 7.3100e-04 6.9700e-01 4.4402e-02]
Dataset Length : 4924
Splitted Training Length : 3939
Splitted Test Length : 985

In [27]:
!pip install genetic-selection

ERROR: Could not find a version that satisfies the requirement genetic-selection (from versions: none)
ERROR: No matching distribution found for genetic-selection

In [28]:
from genetic_selection import GeneticSelectionCV

ModuleNotFoundError: No module named 'genetic_selection'

In [72]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [73]:
# Fit the model to your training data
model = ExponentialSmoothing(y_train, trend='add', seasonal='add', seasonal_periods=12)  # Adjust these params as needed
model_fitted = model.fit()

# Make predictions on the test set
y_pred = model_fitted.forecast(len(y_test))

In [74]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Compute accuracy metrics
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print(f'Mean Absolute Error: {mae}')
print(f'Root Mean Squared Error: {rmse}')

Mean Absolute Error: 0.8543696931833914
Root Mean Squared Error: 0.9976481737803872